[Unit]
Description=Padel GPIO Listener
After=network.target

[Service]
User=nezz
WorkingDirectory=/home/nezz/padel-app
ExecStart=/usr/bin/python3 gpio_button_listener.py
Restart=always

[Install]
WantedBy=multi-user.target