[Unit]
Description=Padel Flask App
After=network.target

[Service]
User=pi
WorkingDirectory=/home/nezz/padel-app
ExecStart=/usr/bin/python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target